{% extends "index.html" %}{% load i18n %} {% load static %} {% block content %}
{% include "space.html" %}

<section class="section" id="about">
  <div class="container">
    <div class="if_hidden">
      <h5 class="mb-3">Conditions Générales de Vente</h5>
    </div>
  </div>
</section>

<!-- Ant Section -->
<section class="section" id="blog">
  <div class="container">
    <h6>Article 1 : Préambule</h6>
    <p>
      Les présentes conditions générales de vente (ci-après dénommées "CGV")
      s'appliquent à toutes les commandes passées sur la boutique en ligne de
      fourmis (ci-après dénommée "la Boutique"). En passant une commande, le
      client (ci-après dénommé "l'Acheteur") reconnaît avoir pris connaissance
      des présentes CGV et les accepte dans leur intégralité.
    </p>

    <h6>Article 2 : Produits</h6>
    <p>
      La Boutique propose à la vente des fourmis et des produits liés à
      l'élevage de fourmis. Les caractéristiques principales des produits sont
      décrites sur les fiches produit disponibles sur le site. Les photographies
      présentées sur le site sont non contractuelles.
    </p>

    <h6>Article 3 : Commandes</h6>
    <p>
      L'Acheteur peut passer une commande en ajoutant les produits souhaités à
      son panier et en suivant les instructions du site pour finaliser la
      commande. Une fois la commande validée, l'Acheteur recevra un e-mail de
      confirmation récapitulant les éléments de sa commande.
    </p>

    <h6>Article 4 : Prix et paiement</h6>
    <p>
      Les prix des produits sont indiqués en euros, toutes taxes comprises, hors
      frais de livraison. Le paiement des produits peut être effectué par carte
      bancaire, PayPal ou tout autre moyen de paiement proposé sur le site. La
      Boutique se réserve le droit de modifier les prix à tout moment, sans
      préavis.
    </p>

    <h6>Article 5 : Livraison</h6>
    <p>
      Les produits sont expédiés à l'adresse de livraison indiquée par
      l'Acheteur lors de la commande. Les délais de livraison sont donnés à
      titre indicatif et peuvent varier en fonction des contraintes logistiques
      et des conditions météorologiques. La Boutique ne pourra être tenue
      responsable en cas de retard de livraison.
    </p>

    <h6>
      Article 6 : Absence de droit de rétractation et de retour des produits
    </h6>
    <p>
      En raison de la spécificité des produits vendus (fourmis et produits liés
      à l'élevage de fourmis), l'Acheteur ne bénéficie pas du droit de
      rétractation prévu par le Code de la consommation. De même, la Boutique
      n'accepte pas les retours de colis et ne procède pas aux échanges de
      produits, sauf en cas de produit défectueux ou non conforme à la commande.
    </p>
    <h6>Article 7 : Réclamations et responsabilité</h6>
    <p class="mb-2">
      En cas de produit défectueux ou non conforme à la commande, l'Acheteur
      doit contacter la Boutique par e-mail dans un délai de 48 heures à compter
      de la réception du colis. La Boutique étudiera la réclamation et
      proposera, le cas échéant, un échange ou un remboursement.
    </p>
    <p>
      La responsabilité de la Boutique ne saurait être engagée en cas de
      mauvaise utilisation des produits, de non-respect des conditions d'élevage
      des fourmis ou de tout autre événement indépendant de sa volonté.
    </p>
    <h6>Article 8 : Données personnelles</h6>
    <p>
      Les données personnelles des Acheteurs sont collectées et traitées
      conformément à la législation en vigueur et à notre politique de
      confidentialité, disponible sur le site.
    </p>
    <h6>Article 9 : Loi applicable et juridiction compétente</h6>
    <p>
      Les présentes CGV sont soumises au droit français. En cas de litige
      relatif à l'interprétation, la validité ou l'exécution des présentes CGV,
      les parties s'efforceront de résoudre à l'amiable leurs différends. Si
      aucune solution amiable n'est trouvée, le litige sera soumis à la
      compétence exclusive des tribunaux français.
    </p>

    <h6>Article 10 : Modifications des Conditions Générales de Vente</h6>
    <p>
      La Boutique se réserve le droit de modifier les présentes CGV à tout
      moment. Les modifications entreront en vigueur dès leur publication sur le
      site. Les CGV applicables à une commande sont celles en vigueur au moment
      de la validation de ladite commande par l'Acheteur.
    </p>

    <h6>Article 11 : Service clientèle</h6>
    <p>
      Pour toute question, réclamation ou assistance, l'Acheteur peut contacter
      le service clientèle de la Boutique par e-mail à l'adresse indiquée sur le
      site. Le service clientèle s'efforcera de répondre dans les meilleurs
      délais.
    </p>

    <h6>Article 12 : Dispositions finales</h6>
    <p>
      Si une ou plusieurs dispositions des présentes CGV sont déclarées nulles,
      illégales ou inapplicables par une décision de justice, les autres
      dispositions resteront en vigueur et continueront à s'appliquer.
    </p>

    <p>
      L'Acheteur déclare avoir pris connaissance des présentes Conditions
      Générales de Vente et les accepte dans leur intégralité en passant une
      commande sur la Boutique en ligne de Fourmis.
    </p>
  </div>
</section>

{% endblock %}
