{% extends "index.html" %}{% load i18n %} {% load custom_filters_super %} {% block content %}
{%include "space.html" %}

<section class="section" id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 pr-md-5 mb-4 mb-md-0" >
        <h6 class="section-title mb-0">{% blocktrans %}Information{% endblocktrans %}</h6>
        <h6 class="section-subtitle mb-4">
          {% blocktrans %}Toutes les informations de la boutique{% endblocktrans %}
        </h6>

        <ul class="">
          <li >
            <a class="" href="{% url 'information_n'%}#send">{% blocktrans %}Livraison{% endblocktrans %}</a>
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#paymentmethod"
              >{% blocktrans %}Modes de paiement{% endblocktrans %}</a
            >
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#termsofuse"
              >{% blocktrans %}Conditions d'utilisation{% endblocktrans %}</a
            >
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#privacy"
              >{% blocktrans %}Confidentialité{% endblocktrans %}</a
            >
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#cookies">{% blocktrans %}Cookies{% endblocktrans %}</a>
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#privacy"
              >{% blocktrans %}Mention légale{% endblocktrans %}</a
            >
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#shipping"
              >{% blocktrans %}Problème de livraison et retours{% endblocktrans %}</a
            >
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#who">{% blocktrans %}Qui sommes nous{% endblocktrans %}</a>
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#offers">{% blocktrans %}Nos offres{% endblocktrans %}</a>
          </li>
          <li>
            <a class="" href="{% url 'information_n' %}#contact">{% blocktrans %}Contact{% endblocktrans %}</a>
          </li>
        </ul>

        <img src="assets/imgs/about.jpg" alt="" class="w-100 mt-3 shadow-sm" />
      </div>

      <div class="col-md-8 pl-md-5">
        <div class="row">
          <div class="col-12 mt-4">
            <a name="send"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}La livraison{% endblocktrans %}</h5>
              <p class="mb-2">
                {% blocktrans %}La livraison de nos produits est assurée par des services de messagerie externes,
                 incluant UPS, DPD, La Poste, Hermes, Royal Mail, Correos, et LnPost. Le choix du prestataire est 
                 déterminé par le vendeur responsable de votre commande, en fonction des tarifs des différents services
                 de livraison. Il est important de noter que nous ne réalisons aucun bénéfice sur les frais de livraison.
                 {% endblocktrans %}
              </p>
              <p class="mb-2">
                {% blocktrans %}Pour les fourmis sensibles au froid, notamment durant les mois 
                d'hiver, nous utilisons des chaufferettes pour garantir leur bien-être durant le 
                transport. Le coût de ces chaufferettes est inclus soit dans le prix de l'article, 
                soit dans les frais de livraison.{% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}Un courriel de confirmation est envoyé dès l'expédition de votre commande. Si vous n'avez pas reçu ce 
                courriel dans la semaine suivant votre commande, veuillez nous contacter.{% endblocktrans %}
              </p>
              <p>
              {% blocktrans %}
              Nous privilégions l'envoi des commandes en début de semaine pour éviter que les 
              colis ne restent dans les entrepôts durant le weekend, réduisant ainsi le risque 
              de mortalité pour les espèces les plus fragiles.{% endblocktrans %}
            </p>
            </div>
            <a name="paymentmethod"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Modes de paiement{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}Nous acceptons une large gamme de cartes de crédit et de débit,
                 incluant Visa, Mastercard, et American Express. Les transactions par carte sont
                  sécurisées via Stripe. Pour ceux qui favorisent l'usage de portefeuilles électroniques,
                  le paiement par PayPal est également pris en charge.
                {% endblocktrans %}
              </p>
            </div>
            <a name="termsofuse"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Conditions d'utilisation{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}En accédant à notre site et en utilisant nos services, vous
                acceptez les conditions d'utilisation suivantes. Nous nous
                réservons le droit de modifier ces conditions à tout moment et
                vous encourageons à les consulter régulièrement. En utilisant
                notre site, vous acceptez de respecter toutes les lois et
                réglementations en vigueur. Vous n'avez pas le droit de diffuser
                du contenu illégal ou offensant sur notre site. Nous nous
                réservons le droit de retirer tout contenu que nous jugeons
                inapproprié sans préavis. Si vous avez des questions sur les
                conditions d'utilisation de notre site, n'hésitez pas à nous
                contacter.{% endblocktrans %}
              </p>
            </div>
            <a name="privacy"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Confidentialité{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}Nous accordons une importance primordiale à la confidentialité de nos clients,
                 en prenant des mesures rigoureuses pour assurer la protection de vos données personnelles. 
                 Vos informations ne seront jamais divulguées à des tiers sans votre autorisation claire, et 
                 nous employons des technologies de chiffrement avancées pour sécuriser vos données lors des 
                 transmissions. Les informations que nous recueillons sont strictement celles nécessaires à la 
                 gestion de votre commande et à la fourniture d'un service de qualité.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}Les transactions bancaires sont sécurisées par Stripe, notre prestataire de
                 services de paiement en ligne.{% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}Pour toute question relative à la gestion de vos données personnelles, nous restons 
                à votre entière disposition. N'hésitez pas à nous contacter pour toute préoccupation concernant 
                votre confidentialité.{% endblocktrans %}
              </p>
              <h6>{% blocktrans %}Cookies{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}Nous ne récoltons aucune de vos données sans votre accord. Nous
                guarentissons la protection de vos appareils en ne mettant aucun
                cookie su notre site.{% endblocktrans %}
              </p>
            </div>
            <a name="cookies"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Devenir vendeur{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}Rejoignez-nous en tant que vendeur chez Antly et mettez en avant vos colonies,
                vos nids ainsi que toute une gamme de produits associés à la myrmécologie. Pour plus d'informations et
                pour vous inscrire en tant que vendeur, n'hésitez pas à nous contacter au 06 51 33 61 58.{% endblocktrans %}
              </p>
            </div>
            <a name="mention"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Mention légale{% endblocktrans %}</h5>
              <h6>{% blocktrans %}Identité de l'entreprise :{% endblocktrans %}</h6>
              <ul>
                <li>{% blocktrans %}Nom de l'entreprise : Antly{% endblocktrans %}</li>
                <li>{% blocktrans %}Forme juridique : Micro entreprise{% endblocktrans %}</li>
                <li>
                  {% blocktrans %}Adresse du siège social : 8 chemin des maraîchers Tresserve
                  73100 France{% endblocktrans %}
                </li>
                <li>{% blocktrans %}Numéro de téléphone : 06 51 33 61 58{% endblocktrans %}</li>
                <li>{% blocktrans %}Adresse e-mail : contact@antly.fr{% endblocktrans %}</li>
                <li>{% blocktrans %}Numéro d'immatriculation : 914 939 004 00018{% endblocktrans %}</li>
              </ul>

              <h6>{% blocktrans %}Responsable de la publication :{% endblocktrans %}</h6>
              <p>{% blocktrans %}Nom et prénom du responsable : Louka Pesic{% endblocktrans %}</p>

              <h6>{% blocktrans %}Hébergement du site :{% endblocktrans %}</h6>
              <ul>
                <li>{% blocktrans %}Nom de l'hébergeur : Heroku{% endblocktrans %}</li>
              </ul>
              <h6>{% blocktrans %}Propriété intellectuelle :{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}Le contenu de ce site internet (textes, images, vidéos, etc.)
                est la propriété exclusive de Antly et est protégé par les lois
                françaises sur la propriété intellectuelle. Toute reproduction,
                distribution, modification ou exploitation de ce contenu sans
                autorisation écrite de Antly est strictement interdite.{% endblocktrans %}
              </p>

              <h6>{% blocktrans %}TVA :{% endblocktrans %}</h6>
              <p>{% blocktrans %}Numéro de TVA intracommunautaire :{% endblocktrans %} FR70914939004</p>

              <h6>{% blocktrans %}SIRET :{% endblocktrans %}</h6>
              <p>{% blocktrans %}Numéro SIRET : 914 939 004{% endblocktrans %}</p>

              <h6>{% blocktrans %}Conditions générales de vente :{% endblocktrans %}</h6>
              <p>
                {% blocktrans %}Les conditions générales de vente de Antly sont consultables sur
                la page suivante : {% endblocktrans %}<a href="{%url 'cgv_n'%}">CGV</a>.{% blocktrans %} En passant commande sur ce site internet,
                vous acceptez ces conditions générales de vente.{% endblocktrans %}
              </p>
            </div>
            <a name="shipping"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Problème de livraison et retours{% endblocktrans %}</h5>
             
              <ul>
                <li>{% blocktrans %}En cas de décès partiel des fourmis durant le transport, aucun remboursement n'est accordé si des ouvrières survivent.{% endblocktrans %}</li>
                <li>{% blocktrans %}Un remboursement partiel de la moitié de la valeur de la colonie est possible si la ou les reines sont vivantes tandis que toutes les ouvrières sont décédées.{% endblocktrans %}</li>
                <li>{% blocktrans %}Un remboursement intégral, incluant les frais de port si la colonie était le seul produit commandé, est prévu uniquement en cas de décès total de la colonie.{% endblocktrans %}</li>
              </ul>

              <p>
                {% blocktrans %}Pour chaque situation, une preuve sous forme d'image sera exigée. Ces politiques 
                de remboursement s'appliquent uniquement durant la période estivale ; aucun remboursement pour 
                les colonies décédées n'est effectué en hiver, conformément aux avertissements publiés sur notre 
                site.{% endblocktrans %}
              </p>

              <p>
                {% blocktrans %}Nous ne procédons à aucun remboursement pour les colonies décédées 
                après les jours suivant la réception du colis.{% endblocktrans %}
              </p>


            </div>
            <a name="who"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Qui sommes nous{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}Notre boutique en ligne est spécialisée dans les fourmis pour
                débutants. Nous sommes une équipe passionnée par ces petits
                êtres et soucieuse de leur bien-être. C'est pour cette raison
                que nous faisons tout notre possible pour leur offrir les
                meilleures conditions de vie possibles. Nous sommes également là
                pour vous aider, débutants ou non, à découvrir le monde
                fascinant des fourmis et à en prendre soin au mieux. N'hésitez
                pas à nous contacter si vous avez des questions ou si vous
                souhaitez plus d'informations sur nos produits et services. Nous
                sommes impatients de vous accueillir dans notre boutique en
                ligne !{% endblocktrans %}
              </p>
            </div>
            <a name="offers"></a>
            {% include "space.html" %}
            <div class="">
              <h5>Nos offres</h5>
              {% if offers.exists %}
              <p class="mb-5">{% blocktrans %}Voici nos offres du moment :{% endblocktrans %}</p>
              {% for of in offers %}
              <div class="mb-4">
                <h6>• {{ of.message}}</h6>
                <p>{{of.text|format_description|safe}}</p>
              </div>
              {% endfor %} {% else %}
              <p>{% blocktrans %}Nous n'avons pas d'offre disponible pour le moment{% endblocktrans %}</p>
              {% endif %}
            </div>
            <a name="contact"></a>
            {% include "space.html" %}
            <div class="">
              <h5>{% blocktrans %}Contact{% endblocktrans %}</h5>
              <p>
                {% blocktrans %}Vous pouvez nous contacter en utilisant les informations
                suivantes :{% endblocktrans %}
              </p>
              <ul>
                <li>Numéro de téléphone : 06 51 33 61 58</li>
                <li>Adresse email : contact@antly.fr</li>
                <li>Instagram : @antly</li>
                <li>TikTok : @antly</li>
                <li>Facebook : @antly</li>
                <li>Twitter : @antly</li>
              </ul>
              <p>
                {% blocktrans %}Nous sommes actifs sur tous ces réseaux et vous pouvez nous
                suivre pour rester informé de nos dernières vidéos et
                publications. N'hésitez pas à nous envoyer un message si vous
                avez des questions ou besoin d'aide. Nous sommes là pour vous
                aider à trouver la colonie de fourmis parfaite pour vous.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
