{% extends "product.html" %}
{% load static %}

{% block start %}

            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">Les fourmis</h6>
                    <h6 class="section-subtitle mb-4">Les fourmis d'europe</h6>
                    <p>Créez votre univers minuscule chez vous. Optez pour une fondation et introduisez les dans un environnement qui vous inspire, laissez-vous guider par votre imagination !</p>
                </div>
                <div class="col-md-6 pl-md-5">
                    <img src="{% static 'sale/imgs/about-ant.jpg' %}" alt="egor-kamelev" class="w-100 shadow-sm">
                </div>
            </div>
{% endblock %}

{% block product %}

<div class="portfolio-container">
        <div class="row new">

            {% for varproduct in ant_product %}   
                {% include '_product_card.html' %}
            {% endfor %}
        </div>

        {% for co in country %}
        <div class="row card-product-tri {{ co }} ">
            {% for ant in ant_product %}
            {% if ant.sh_localisation == co %}
            <div class="" id="card-ele">
                <div class="card border-0 mb-4">
                    <a href="{{ ant.get_absolute_url }}">
                    <img src="{{ ant.thumbnail.url }}" alt="" class="card-img-top w-100 limite-height">
                    <div class="card-body">
                        <h6 class="card-title">{{ ant.sh_name }}</h6>
                        <p>{{ ant.sh_price }} €</p>
                    </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
 {% endblock %}
