{% extends "index.html" %} {% load static %} {% block head %}
<script src="https://js.stripe.com/v3/"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
{% endblock %} {% block content %}
<div class="if_hidden">{% include "space.html" %}</div>
<section class="section" id="about">
  <div class="container">
    <div class="if_hidden">
      <h2 class="mb-3">Ma commande</h2>
    </div>
  </div>
</section>

<section class="section" id="blog">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8 pr-md-5 mb-4 mb-md-0">
        <div class="mb-5">
          <h4>Résumé de la commande</h4>
          <table class="table table-striped">
            <tbody>
              {% for item in order.get_cart_items %}
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }} €</td>
              </tr>
              {% endfor %}
              <tr>
                <td>Transport</td>
                <td></td>
                <td>{{ order.shipping_costs }} €</td>
              </tr>

              {% if order.gift %}
              <td>Colonie offerte</td>
              <td>1</td>
              <td>0 €</td>
              {% endif %}
            </tbody>

            <tfoot>
              <tr>
                <th scope="col">Total de la commande</th>
                <th scope="col">{{ order.get_cart_total }} €</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- strip-->
        <h4 class="mb-4">Paiement</h4>
        <!-- Affichez ici le formulaire de paiement Stripe -->

        <div class="form-container">
          <form id="payment-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="card-holder-name">Nom du titulaire de la carte</label>
              <input
                type="text"
                class="form-control"
                id="card-holder-name"
                required
              />
            </div>

            <div class="form-group">
              <label for="card-element">Informations de la carte</label>
              <div id="card-element" class="form-control"></div>
              <div id="card-errors" role="alert" class="text-danger"></div>
            </div>
            <input
              type="hidden"
              id="chosen-address-id"
              name="chosen_address_id"
              value=""
            />
            <button
              type="submit"
              class="btn btn-info rounded"
              id="card-button"
              disabled
            >
              Payer
            </button>
          </form>
        </div>

        <!-- endstrip-->
      </div>

      <div class="col-md-4 pl-md-5">
        <!-- adress-->

      </div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}

<script>
  // stripe

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie("csrftoken");

  const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
  const elements = stripe.elements();
  const cardElement = elements.create("card");
  cardElement.mount("#card-element");

  const form = document.getElementById("payment-form");
  const cardHolderName = document.getElementById("card-holder-name");
  const cardButton = document.getElementById("card-button");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    // Vérifiez si une adresse a été choisie ou saisie
    const chosenAddress = document.getElementById("chosen-address").innerHTML;
    if (!chosenAddress) {
      alert(
        "Veuillez choisir ou saisir une adresse avant de procéder au paiement."
      );
      return;
    }

    const chosenAddressId = chosenAddressDiv.dataset.addressId;
    document.getElementById("chosen-address-id").value = chosenAddressId;

    const { clientSecret } = await (
      await fetch("/produit/commande/create-payment-intent/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
      })
    ).json();
    const { error, paymentIntent } = await stripe.confirmCardPayment(
      clientSecret,
      {
        payment_method: {
          card: cardElement,
          billing_details: { name: cardHolderName.value },
        },
      }
    );

    if (error) {
      console.error("Erreur lors du paiement :", error);
      alert("Le paiement a échoué. Veuillez réessayer.");
    } else {
      console.log("Paiement réussi :", paymentIntent);
      window.location.href = "{% url 'success_n' %}"; // Redirige vers la page de succès
    }
  });

  function stripeTokenHandler(paymentMethodId) {
    // Insérez le token dans le formulaire pour qu'il soit soumis au serveur
    const form = document.getElementById("payment-form");
    const hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "payment_method_id");
    hiddenInput.setAttribute("value", paymentMethodId);
    form.appendChild(hiddenInput);

    // Soumettez le formulaire
    form.submit();
  }


</script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
