{% extends "index.html" %} {% load custom_filters %} {% load static %}


{% block head %} 
<script type="application/ld+json">
  {
    "@context": "https://schema.org/", 
    "@type": "Product", 
    "name": "{{ other.name }}",
    "image": "{{ other.thumbnail.url }}",
    "description": "{{ other.description|format_description|safe }}",
  }
  </script>
{% endblock %}


{% block content %}
{% include "space.html" %}
<section class="section mt-4" id="blog">
  <div class="container">
    <div class="mb-10">
      <div class="row justify-content-between">
        <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
          <!-- image -->
          <div id="large-image" class="mb-3 big">
            <img
              src="{{ other.thumbnail.url }}"
              class="card-img-top w-100 default-image"
              id="large-image-img"
            />
            {% if other.video %}
            <video
              src="{{ other.video.url }}"
              class="card-img-top w-100"
              id="large-image-video"
              controls
            ></video>
            {% endif %}
          </div>

          <div id="small-images">
            <img
              class="card-img-top mb-1"
              src="{{ other.thumbnail.url }}"
              alt="Image 1"
              onmouseover="changeLargeImage(this)"
            />
            {% if other.thumbnail_1 %}
            <img
              class="card-img-top mb-1"
              src="{{ other.thumbnail_1.url }}"
              alt="Image 2"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if other.thumbnail_2 %}
            <img
              class="card-img-top mb-1"
              src="{{ other.thumbnail_2.url }}"
              alt="Image 3"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if other.thumbnail_3 %}
            <img
              class="card-img-top mb-1"
              src="{{ other.thumbnail_3.url }}"
              alt="Image 4"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if other.thumbnail_4 %}
            <img
              class="card-img-top mb-1"
              src="{{ other.thumbnail_4.url }}"
              alt="Image 5"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if other.video %}
            <video src="{{ other.video.url }}" class="card-img-top mb-1" onmouseover="changeLargeImage(this)"></video>
            {% endif %}
          </div>
        </div>



        <div class="col-md-6 pl-md-5">
          <h1 class="display-5 fw-bolder mb-4">{{ other.name }}</h1>
          <p class="text-muted">Vendeur : {{ other.sh_supplier }}</p>
          <hr />
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="fs-5 mb-2">
                <h5 class="" id="price-display">{{ other.sh_price }} €</h5>
              </div>
            </div>
            <div class="col-md-6">
              <form method="POST" action="">
                {% csrf_token %}
            </div>
            <div>
              <p>{{ other.description|format_description|safe }}</p>
            </div>
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <div class="d-flex">
                      <div class="form-group ">
                        <label for="quantity"></label>
                        <select class="form-control" id="quantity" name="quantity">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="submit" value="Ajouter au panier" class="btn btn-primary mr-4 btn-lg rounded"> <!-- mr-4 -->
                  </div>
                </div>
              </form>
          </div>
        </div>

      </div>
      {% include "space.html" %}

      <div id="offer_ant">
        <div class="row">
          {% for ant in offer_ant %}
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <a href="{{ ant.get_absolute_url }}">
                <img
                  src="{{ ant.thumbnail_url }}"
                  alt=""
                  class="card-img-top w-100 limite-height"
                />
                <div class="card-body">
                  <h6 class="card-title">{{ ant.sh_name }}</h6>
                  <div class="row">
                      <div class="col-md-6">
                          <p>{{ ant.sh_price }} €</p>
                      </div>
                      <div class="col-md-6">
                          <p class="text-muted">Vendeur : {{ ant.sh_supplier }}</p>
                      </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "comment.html" %}

{% endblock content %}
