{% extends "product.html" %}
{% load static %}

{% block start %}

            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">Les pack</h6>
                    <h6 class="section-subtitle mb-4">Nos packs</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate molestiae temporibus et tenetur unde quasi, cum nemo quo, molestias architecto alias voluptatibus corrupti corporis earum. Necessitatibus maxime modi ipsam, quod!</p>
                </div>
                <div class="col-md-6 pl-md-5">
                    <img src="{% static 'sale/imgs/about-pack.jpg' %}" alt="egor-kamelev" class="w-100 shadow-sm">
                </div>
            </div>
{% endblock %}


 {% block product %}

<div class="portfolio-container">

        <div class="row new">
            {% for pack in pack_product %}
            <div class="col-md-4">
                <div class="card border-0 mb-4">
                    <a href="{{ pack.get_absolute_url }}">
                    <img src="{{ pack.thumbnail_url }}" alt="" class="card-img-top w-100 limite-height">
                    <div class="card-body">
                        <h6 class="card-title">{{ pack.name }}</h6>
                        <p>{{ pack.get_price }} €</p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% for co in country %}

        <div class="row card-product-tri {{ co }} ">
            {% for pack in pack_product %}
            {% if pack.localisation == co %}
            <div class="" id="card-ele">
                <div class="card border-0 mb-4">
                    <a href="{{ pack.get_absolute_url }}">
                    <img src="{{ pack.thumbnail_url }}" alt="" class="card-img-top w-100 limite-height">
                    <div class="card-body">
                        <h6 class="card-title">{{ pack.name }}</h6>
                        <p>{{ pack.get_price }} €</p>
                    </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
</div>
 {% endblock %}