{% extends "index.html" %} {% load custom_filters %} {% load static %} {% block content %}
{% include "space.html" %}
<section class="section mt-4" id="blog">
  <div class="container">
    <div class="mb-10">
      <div class="row justify-content-between">
        <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
          <!-- image -->
          <div id="large-image" class="mb-3 big">
            <img
              src="{{ ant.thumbnail.url }}"
              class="card-img-top w-100 default-image"
              id="large-image-img"
            />
            {% if ant.video %}
            <video
              src="{{ ant.video.url }}"
              class="card-img-top w-100"
              id="large-image-video"
              controls
            ></video>
            {% endif %}
          </div>

          <div id="small-images">
            <img
              class="card-img-top mb-1"
              src="{{ ant.thumbnail.url }}"
              alt="Image 1"
              onmouseover="changeLargeImage(this)"
            />
            {% if ant.thumbnail_1 %}
            <img
              class="card-img-top mb-1"
              src="{{ ant.thumbnail_1.url }}"
              alt="Image 2"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if ant.thumbnail_2 %}
            <img
              class="card-img-top mb-1"
              src="{{ ant.thumbnail_2.url }}"
              alt="Image 3"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if ant.thumbnail_3 %}
            <img
              class="card-img-top mb-1"
              src="{{ ant.thumbnail_3.url }}"
              alt="Image 4"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if ant.thumbnail_4 %}
            <img
              class="card-img-top mb-1"
              src="{{ ant.thumbnail_4.url }}"
              alt="Image 5"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %}{% if nest.thumbnail %}
            <img
              class="card-img-top mb-1"
              src="{{ nest.thumbnail.url }}"
              alt="Image Nid"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if nest.thumbnail_1 %}
            <img
              class="card-img-top mb-1"
              src="{{ nest.thumbnail_1.url }}"
              alt="Image Nid"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if  nest.thumbnail_2 %}
            <img
              class="card-img-top mb-1"
              src="{{ nest.thumbnail_2.url }}"
              alt="Image Nid"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if  nest.thumbnail_3 %}
            <img
              class="card-img-top mb-1"
              src="{{ nest.thumbnail_3.url }}"
              alt="Image Nid"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %} {% if  nest.thumbnail_4 %}
            <img
              class="card-img-top mb-1"
              src="{{ nest.thumbnail_4.url }}"
              alt="Image Nid"
              onmouseover="changeLargeImage(this)"
            />
            {% endif %}  {% if ant.video %}
            <video src="{{ ant.video.url }}" class="card-img-top mb-1" onmouseover="changeLargeImage(this)"></video>
            {% endif %}{% if nest.video %}
            <video src="{{ nest.video.url }}" class="card-img-top mb-1" onmouseover="changeLargeImage(this)"></video>
            {% endif %}
          </div>
        </div>

        <div class="col-md-6 pl-md-5">
          <h1 class="display-5 fw-bolder mb-4">{{ pack.sh_name }}</h1>
          <hr />
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="fs-5 mb-2">
                <h5 class="col-sm-6" id="price-display">{{price}}€</h5>
              </div>
            </div>
            <div class="col-md-6">
              <form method="POST" action="">
                {% csrf_token %}

                <div class="">
                  <td>
                    <ul>
                      {% if ant.spece %}
                      <li>Espèce : {{ ant.sh_spece }} {{ ant.under_spece }}</li>
                      {% endif %} {% if ant.sh_localisation %}
                      <li>Localisation : {{ ant.sh_localisation }}</li>
                      {% endif %}
                      <li>Nombre de gyne : {{ pack.size.gyne }}</li>
                      <li>Nombre d'ouvrière : {{ pack.size.worker }}</li>
                      {% if pack.nest_size %}
                      <li>Taille du nid : {{ nest.name }}</li>
                      {% endif %}
                    </ul>
                  </td>
                </div>
                <div>
                  <p>{{ description_pack|format_description|safe }}</p>
                  <p>{{ ant.description|format_description|safe }}</p>
                  <p>{{ nest.description|format_description|safe }}</p>
                </div>
                <div class="d-flex mt-5">
                  <div class="form-group mr-3">
                    <label for="quantity"></label>
                    <select class="form-control" id="quantity" name="quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                    </select>
                  </div>

                </div>

                <input type="submit" value="Ajouter au panier" class="btn btn-dark mr-4">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% include "space.html" %}

      <div id="offer_ant">
        <div class="row">
          {% for ant in offer_ant %}
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <a href="{{ ant.get_absolute_url }}">
                <img
                  src="{{ ant.thumbnail_url }}"
                  alt=""
                  class="card-img-top w-100 limite-height"
                />
                <div class="card-body">
                  <h6 class="card-title">{{ ant.name }}</h6>
                  <p>{{ ant.sh_price }} €</p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
