{% extends 'index.html' %}
{% load i18n %} 

{% block content %}
<div class="if_hidden">{% include "space.html" %}</div>
<section class="section" id="about">
  <div class="container">
        <div class="if_hidden">
          <h2 class="mb-3">{% blocktrans %}Merci pour votre commande !{% endblocktrans %}</h2>
        </div>
      </div>
</section>

<section class="section" id="blog">
  <div class="container">
  <p>Cher(e) {{user.username}},</p>
<p>{% blocktrans %}Toute l'équipe d'Antly vous remercie sincèrement pour votre commande (numéro de commande : {{ order.ref_code }}). Nous sommes ravis de vous compter parmi nos clients et nous sommes impatients de vous aider à démarrer ou à agrandir votre élevage de fourmis.
{% endblocktrans %}</p>
  <h5>{% blocktrans %}Voici un récapitulatif de votre commande :{% endblocktrans %}
</h5>
  <ul>
    {% for item in order.get_cart_items %}
      <li>{{ item.sh_name }} x {{ item.quantity }} ({{ item.price }}€)</li>
    {% endfor %}
  </ul>
  <p>{% blocktrans %}Total {% endblocktrans %}: {{ order.get_order_total }}€</p>

  <p>{% blocktrans %}Adresse de livraison :{% endblocktrans %}</p>
  <address>
    {{ order.address.complete_name }}<br>
    {{ order.address.adress }}<br>
    {% if order.address.detail %}{{ order.address.detail }}<br>{% endif %}
    {{ order.address.postal_code }} {{ order.address.city }}<br>
    {{ order.address.country }}
  </address>

  <p>{% blocktrans %}Nous nous engageons à expédier votre commande dans les plus brefs délais. Vous recevrez un e-mail de confirmation avec les informations de suivi dès que votre colis sera en route.{% endblocktrans %}</p>
 <p>{% blocktrans %}Si vous avez des questions concernant votre commande ou si vous avez besoin d'aide pour votre élevage de fourmis, n'hésitez pas à nous contacter à contact@antly.fr ou via les réseau sociaux de contact sur notre site web. Notre équipe de spécialistes est à votre disposition pour vous assister et vous fournir des conseils personnalisés.{% endblocktrans %}</p>
  <p>{% blocktrans %}Nous espérons que vous serez pleinement satisfait(e) de votre achat et que votre expérience avec Antly sera agréable et enrichissante. N'hésitez pas à partager vos découvertes et vos réussites avec notre communauté sur les réseaux sociaux en utilisant le hashtag #Antly.{% endblocktrans %}</p>
     <p>{% blocktrans %}Encore merci de votre confiance et bonne découverte du monde fascinant des fourmis !{% endblocktrans %}</p>
     <p>{% blocktrans %}Cordialement,{% endblocktrans %}</p>
    <p>{% blocktrans %}L'équipe Antly{% endblocktrans %}</p>

<a href="{% url 'facture_pdf' order.id %}" class="btn btn-primary mt-4">{% blocktrans %}Récupérer ma facture{% endblocktrans %}</a>
  </div>
</section>
{% endblock %}