{% extends "index.html" %}{% load i18n %}

{% block content %}
{% include "space.html" %}


<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">{% blocktrans %}Mon compte{% endblocktrans %}</h6>
                    <h6 class="section-subtitle mb-4">{% blocktrans %}Informations du compte{% endblocktrans %}</h6>

               <td>
                  <ul class="list-unstyled">

                        <ul>
                            <li><a class="" href="{% url 'dashboard_n' user.id %}">{% blocktrans %}Tableau de bord{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'orders_n' user.id %}">{% blocktrans %}Mes commandes{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'comment_n' %}">{% blocktrans %}Mettre un commentaire{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'detail_n' user.id %}">{% blocktrans %}Information personnel{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'resources_n' user.id %}">{% blocktrans %}Ressources{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'delete_account_n' user.id %}">{% blocktrans %}Supprimer mon compte{% endblocktrans %}</a></li>
                            <li><a class="" href="{% url 'logout_n' %}">{% blocktrans %}Déconnexion{% endblocktrans %}</a></li>

                        </ul>

                  </ul>
               </td>
            </tr>
                    <img src="assets/imgs/about.jpg" alt="" class="w-100 mt-3 shadow-sm">

                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-12 mt-4">
                            {% block account %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock %}