{% extends "index.html" %}

{% block content %}
{% include "space.html" %}


<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">Mon compte</h6>
                    <h6 class="section-subtitle mb-4">Informations du compte</h6>

               <td>
                  <ul class="list-unstyled">

                        <ul>
                            <li><a class="" href="{% url 'dashboard_n' user.id %}">Tableau de bord</a></li>
                            <li><a class="" href="{% url 'orders_n' user.id %}">Mes commandes</a></li>
                            <li><a class="" href="{% url 'comment_n' %}">Mettre un commentaire</a></li>
                            <li><a class="" href="{% url 'detail_n' user.id %}">Information personnel</a></li>
                            <li><a class="" href="{% url 'resources_n' user.id %}">Ressources</a></li>
                            <li><a class="" href="{% url 'delete_account_n' user.id %}">Supprimer mon compte</a></li>
                            <li><a class="" href="{% url 'logout_n' %}">Déconnexion</a></li>

                        </ul>

                  </ul>
               </td>
            </tr>
                    <img src="assets/imgs/about.jpg" alt="" class="w-100 mt-3 shadow-sm">

                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-12 mt-4">
                            {% block account %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock %}