{% extends "index.html" %}{% load i18n %}

{% block content %}
{% include "space.html" %}

<section  class="section" id="blog">
    <div class="container">

      <div class="row mt-5">
         <div class="col-md-6">

<form  method="post" id="my-form">
    {% csrf_token %}
       <div class="mt-5 ml-2" id="form-section-2">
            <h3 class="mt-5">Changement de mot de passe</h3>
            <h6 class="mt-3 mb-5">La confirmation de votre identitée par e-mail est un succès, veulliez saisir un nouveau mot de passe.</h6>


            <div class="passimg-perso">
                <p class="mb-0">Nouveau mot de passe :</p>
                <img src="{% static 'imgs/oeil-cache.png' %}" id="eye1" onclick="changer1()">
                {{ password_form.new_password1 }}
            </div>

            <div class="passimg-perso">
                <p>Nouveau mot de passe :</p>
                <img src="{% static 'imgs/oeil-cache.png' %}" id="eye2" onclick="changer2()">
                {{ password_form.new_password2 }}

                {% if password_form.error_messages %}
                {{ password_form.error_messages.as_p }}
                {% endif %}
            </div>

        </div>
        <button class="btn btn-primary mt-3 " type="submit" >Envoyer</button>
</form>
      </div>
    </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
e = true;
function changer1() {
  if (e) {
    document.getElementById("password1").setAttribute("type", "text");
    document.getElementById("eye1").src =
      "{% static 'imgs/oeil-visible.png' %}";
    e = false;
  } else {
    document.getElementById("password1").setAttribute("type", "password");
    document.getElementById("eye1").src = "{% static 'imgs/oeil-cache.png' %}";
    e = true;
  }
}

e = true;
function changer2() {
  if (e) {
    document.getElementById("password2").setAttribute("type", "text");
    document.getElementById("eye2").src =
      "{% static 'imgs/oeil-visible.png' %}";
    e = false;
  } else {
    document.getElementById("password2").setAttribute("type", "password");
    document.getElementById("eye2").src = "{% static 'imgs/oeil-cache.png' %}";
    e = true;
  }
}

</script>
{% endblock %}
