{% extends "account.html" %}

{% block account %}
<form method="post">
        {% csrf_token %}
        {{ form.text }}
        <br>
        <div id="star-container">
            <i class="ti-star star-filled" data-value="1"></i>
            <i class="ti-star star-filled" data-value="2"></i>
            <i class="ti-star star-filled" data-value="3"></i>
            <i class="ti-star star-filled" data-value="4"></i>
            <i class="ti-star star-filled" data-value="5"></i>
        </div>
        {{ form.star }}
        {{ form.shopper }}
        <br>
        <button class="btn btn-primary mt-3" type="submit">Envoyer le retour</button>
    </form>
{% endblock %}




