{% extends "account.html" %}

{% block account %}

<h5>Tableau de bord</h5>
{% if user.username %}
<p>Bonjour {{ user.username }}, vous pouvez nous expliquer pourquoi vous élevez des fourmis ?</p>
{% else %}
<p>Ravis de votre intérêt pour l'élevage de fourmis, nous souhaitons connaître vos préférences et motivations. Partagez vos espèces favorites et raisons d'élever ces créatures via ce formulaire. Vos réponses amélioreront nos produits/services et révèleront les intérêts de notre communauté. Prenez un moment pour remplir le formulaire et partager vos commentaires. Merci de rejoindre notre communauté d'amateurs de fourmis !</p>
{% endif %}



<form action="" method="post">
    {% csrf_token %}
{% if not user.why_ant %}
    <div>
        {{ form }}
    </div>
    <input class="btn btn-primary" type="submit">
{% else %}
    <p>Vous élevez des fourmis parce que : {{ user.why_ant }}</p>
    <h5>Modifier</h5>
    <div class="form-group">
        {{ form }}
    </div>
    <input class="btn btn-primary" type="submit">
{% endif %}
</form>

{% endblock %}