{% extends "account.html" %}




{% block account %}
<h5>Supprimer mon compte</h5>

{% if user.first_name %}
    <p>{{user.first_name}} vous voulez vraiment supprimer votre compte ?</p>
{% else %}
    {% if user.username %}
        <p>{{user.username}} vous voulez vraiment supprimer votre compte ?</p>
    {% else %}
        <p>Vous voulez vraiment supprimer votre compte ?</p>
    {% endif %}
{% endif %}

<button class="btn btn-primary" type="submit"><a href="{% url 'delete_user_n' user.id %}" >Oui</a></button>



{% endblock %}