{% extends "index.html" %}
{% load static %}

{% block content %}
    <section id="portfolio" class="section portfolio-section">
        <div class="container">
        </div>
    </section>

<section  class="section" id="blog">
    <div class="container">

      <div class="row mt-5">
         <div class="col-md-6">
             <form action="" method="post">
                 {% csrf_token %}
                <h6 class="section-secondary-title">Mot de passe oublié</h6>
                <div class="form-group">
                    <div>
                        <p>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email address" name="email">
                        </p>
                    </div>
                 <button class="btn btn-primary" type="submit">soumettre</button>
                    <div>
             </form>
      </div>
    </div>
    </div>
</section>
{% endblock %}