{% extends "email.html" %}
{% block mail %}

Cher(e) {{ user.username }},

Nous vous souhaitons la bienvenue chez Antly.fr, votre nouveau refuge dans le monde fascinant des fourmis. Nous sommes ravis que vous ayez choisi de rejoindre notre communauté de passionnés de myrmécologie.

Pour vous aider à démarrer votre voyage d'élevage de fourmis, nous avons préparé un guide d'introduction à la myrmécologie que vous trouverez en pièce jointe de ce courrier électronique. Ce guide vous fournira des informations de base sur l'élevage de fourmis et vous aidera à vous familiariser avec votre nouvel écosystème.

Nous espérons que vous apprécierez ce guide et que vous le trouverez utile. Si vous avez des questions ou besoin d'aide, n'hésitez pas à nous contacter à l'adresse antly.fourmis@gmail.fr, au numéro 06 51 33 61 58, ou via nos réseaux sociaux.

Nous sommes impatients de partager notre passion pour les fourmis avec vous. Bienvenue dans l'univers Antly !

Cordialement,

L'équipe Antly

Antly - La boutique en ligne dédiée aux fourmis
https://www.antly.fr
Service client :
antly.fourmis@gmail.fr
06 51 33 61 58
{% endblock %}
